#video {
  text-align: center;
  padding: 250px;
}
.h11 {
  position: absolute;
  width: 597px;
  height: 31px;
  right: 400px;
  top: 158px;

  font-family: 'Rockwell Extra Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;

  color: #ebff00;
}
