.titulo {
  position: relative; 
  padding-top: 30px;
  padding-bottom: 30px;
  color: #EBFF00;
  font-family: 'Rockwell Extra Bold';
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 40px;
}

.container {
  margin-left: 40px;
  margin-right: 10px;
  display: flex;
  
}

.poster {
  margin-left: 40px;
}

.poster-image {
  width: 400px;
  height: 600px;
}

.info {
  color: white;
  font-size: 25px;
  padding-left: px;
  
}

.subtitulo {
  font-family: 'Rockwell Extra Bold';
  letter-spacing: 0.1rem;
  color:#ebff00;
  padding-bottom: 20px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 30px;
}

.sinopse {
  width: 80%;
  font-size: 25px;
  color: white;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.icon-button {
  width: 100px;
  height: auto;
}

.container {
  padding: 20px;
}

#disqus_thread {
  margin-left: 50px;
  margin-right: 50px;
}

#dados {
  list-style-type: none;
  padding: 0px;
}

.dados-avaliacao{               /*Dar algum destaque para a avaliacao*/
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.avaliacao {                  
  font-size: 30px;
}

.critica-nome {                         /*ESTILO DO TÍTULO DA CRÍTICA*/
  color:#ebff00;
   
}

.nota-bloco {
  font-size: 30px;                       /*ESTILO DA NOTA DO FILME()*/
  
}

