*
h1{
    text-align: center;
}
.container
{
    display: flex;
}
ul
{
    list-style: none;
    justify-content: space-around;
    display: flex;
}
p
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}